@import '../../styles/variables';
@import '../../styles/mixins';

.button {
    box-sizing: border-box;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    font-size: $font-normal;
    border: none;
    border-radius: 6px;
    transform: translate3d(0, 0, 0);
    transition-property: all;
    transition-duration: $duration-quick;
    transition-timing-function: $ease-out-quad;
    cursor: pointer;

    &--primary {
        min-width: 200px;
        height: 50px;
        color: $white;
        background-color: $blue;
        font-weight: $bold;

        &:hover,
        &:focus {
            background-color: $blue-dark;
        }
    }

    &--secondary {
        width: 300px;
        min-height: 70px;
        color: $black;
        background-color: $white;
        box-shadow: $box-shadow-light;

        &:hover,
        &:focus {
            box-shadow: $box-shadow-strong;
        }
    }

    &--icon {
        height: 30px;
        width: 30px;
        padding-right: 0px;
        padding-left: 0px;
        border-width: 1px;
        border-style: solid;
        border-color: $blue;
        font-weight: $semi-bold;
        color: $blue;
        border-radius: 50%;
        @include flex-center;

        &:hover,
        &:focus {
            transform: scale(1.02);
            box-shadow: $box-shadow-light;
        }

        &:disabled {
            border-color: $gray;
            color: $gray;
            pointer-events: none;
        }
    }

    &--selected {
        border: 2px solid $blue;
        box-shadow: $box-shadow-strong;
    }
}