@import '../../styles/variables';

.table {
    width: 100%;

    &__head {
        display: none;
        text-align: left;
    }

    &__row {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        box-sizing: border-box;
        padding-top: 20px;
    }

    &__data-standard,
    &__data-wide {
        margin-bottom: 8px;
    }

    &__data-assignee {
        height: 40px;
    }

    &__image {
        height: 100%;
        border-radius: 50%;
    }

    &__data-priority {
        display: flex;
        justify-content: space-evenly;
    }

    @media #{$mq-min-tablet} {
        &__head {
            display: table-header-group;
        }

        &__row {
            flex-direction: row;
        }

        th {
            font-weight: $semi-bold;
        }

        &__data-standard {
            flex: 1;
        }
    
        &__data-wide {
            flex: 2;
        }

        &__data-standard,
        &__data-wide {
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0;
        }

        &__data-updated,
        &__data-created,
        &__data-priority {
            text-align: center;
        }
    }

    @media #{$mq-min-desktop} {
        &__data-wide {
            flex: 3;
        }
    }
}
