@import '../../styles/animations';
@import '../../styles/variables';

.dashboard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    &__repos-wrapper {
        display: none;
    }

    &__repos-button {
        margin-bottom: 10px;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-timing-function: $ease-out-quad;
    
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__issues-heading {
        font-weight: $narrow;
    }

    @media #{$mq-min-tablet} {
        flex-direction: row;

        &--center {
            transform: translateX($centered-column);

            .dashboard__issues {
                opacity: 0;
            }
        }
    
        &--left {
            animation-name: slideLeft;
            animation-duration: $duration-long;
            animation-fill-mode: forwards;
            animation-timing-function: $ease-in-quad;

            .dashboard__issues {
                padding-top: 50px;
                padding-left: 30px;
                opacity: 0;
                animation-name: fadeIn;
                animation-duration: $duration-average;
                animation-delay: $duration-long;
                animation-fill-mode: forwards;
            }
        }

        &__select-wrapper {
            display: none;
        }

        &__repos-wrapper {
            display: block;
        }

        &__issues {
            flex: 1;
        }
    }
}

