@import '../../styles/animations';
@import '../../styles/variables';

$issuesPaddingTop: 50px;
$issuesPaddingBottom: 20px;

.dashboard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    &__repos {
        display: none;
    }

    &__repos-button {
        margin-bottom: 10px;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-timing-function: $ease-out-quad;
    
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__issues-heading {
        font-weight: $narrow;
    }

    @media #{$mq-min-tablet} {
        flex-direction: row;
        height: 100vh;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow: hidden;

        &__repos-wrapper {
            height: 100vh;
            width: calc(50% + 90px);
            padding-right: 30px;
            padding-left: 30px;
            overflow-y: auto;
        }

        &__repos {
            padding-bottom: 40px;
        }

        &--center {
            transform: translateX($centered-column);

            .dashboard__issues {
                opacity: 0;
            }
        }
    
        &--left {
            animation-name: slideLeft;
            animation-duration: $duration-long;
            animation-fill-mode: forwards;
            animation-timing-function: $ease-in-quad;

            .dashboard__repos-wrapper {
                width: auto;
            }

            .dashboard__issues {
                height: calc(100vh - #{$issuesPaddingTop} - #{$issuesPaddingBottom});
                padding-top: $issuesPaddingTop;
                padding-right: 5px;
                padding-bottom: $issuesPaddingBottom;
                padding-left: 5px;
                opacity: 0;
                overflow-y: auto;
                animation-name: fadeIn;
                animation-duration: $duration-average;
                animation-delay: $duration-long;
                animation-fill-mode: forwards;
            }
        }

        &__select-wrapper {
            display: none;
        }

        &__repos {
            display: block;
        }

        &__issues {
            flex: 1;
        }
    }
}

