@import '../../styles/variables';
@import '../../styles/animations';
@import '../../styles/mixins';

.loading-indicator {
    z-index: $overlay-z-index;
    @include fixed-full-screen;

    &__spinner-container {
        height: 100%;
        @include flex-center;
    }

    &__spinner {
        height: 120px;
        width: 120px;
        border-top: 3px solid $blue;
        border-right: 3px solid $blue;
        border-bottom: 3px solid $blue;
        border-radius: 50%;
        animation-name: loadingRing;
        animation-duration: $durationLoadingIndicator;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0.5;
        @include fixed-full-screen;
    }
}
