@import '../../styles/mixins';
@import '../../styles/variables';

.login {
    width: 100vw;
    height: 100vh;

    &__body {
        padding-top: 25%;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form {
        width: 85%;
        margin: 0 auto;
    }

    &__action {
        display: block;
        margin-top: 35px;
        margin-right: 0;
        margin-bottom: 50px;
        margin-left: 0;
    }

    @media #{$mq-min-tablet} {
        @include flex-center;

        &__body {
            width: 500px;
            height: auto;
            padding-top: 30px;
            padding-bottom: 40px;
            border-radius: 6px;
            box-shadow: $box-shadow-strong;
        }
    }
}
